/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */
/* Woocommerce product list - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page .woocommerce-ordering {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page .woocommerce-result-count {
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page .woocommerce-ordering .orderby {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-4 .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .woocommerce.columns-4 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-4 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .woocommerce.columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-4 .products .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(4n) {
    margin-right: 2%;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(3n) {
    margin-right: 0;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(3n+1), .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .products .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(3n+1), .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-woocommerce-with-sidebar .products .product {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-single-product-related-products-holder .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-single-product-related-products-holder .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-single-product-related-products-holder .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-single-product-related-products-holder .products .product:nth-child(3n+1), .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-single-product-related-products-holder .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-4 .edgtf-single-product-related-products-holder .products .product {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 .products .product,
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .woocommerce.columns-3 .products .product:nth-child(2n),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .woocommerce.columns-3 .products .product:nth-child(2n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .woocommerce.columns-3 .products .product:nth-child(3n+1), .woocommerce.columns-3 .products .product:nth-child(4n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product:nth-child(3n+1),
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-3 .products .product,
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .products .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 .edgtf-woocommerce-with-sidebar .products .product,
  .edgtf-woocommerce-page.edgtf-woocommerce-columns-3 .edgtf-woocommerce-with-sidebar .products .product {
    width: 100%;
    margin-bottom: 35px;
  }
}

/* Woocommerce product list - end
========================================================================== */
/* Woocommerce widgets
========================================================================== */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .widget_price_filter .price_slider_amount .price_label {
    display: block;
    float: none;
  }
}

/* Woocommerce single product - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-single-product-images {
    width: 100%;
    margin: 0 0 40px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-single-product-summary {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-single-product-summary .cart,
  .edgtf-single-product-summary .out-of-stock {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page .edgtf-three-columns .edgtf-column {
    width: 33.33%;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-single-product-images .thumbnails {
    padding-right: 15px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 767px) {
  .variations_form .variations td {
    padding: 5px 6px;
  }
}

@media only screen and (max-width: 480px) {
  .variations_form .variations td {
    display: block;
    padding: 7px 0;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tabs-nav li {
    display: block;
  }
  .edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tab-container {
    padding: 34px 15px 22px;
  }
  .edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tab-container:not(#tab-reviews) {
    text-align: justify;
  }
  .edgtf-single-product-wrapper-top .edgtf-tabs.edgtf-horizontal-tab .edgtf-tab-container#tab-reviews {
    padding-top: 45px;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-Reviews .avatar {
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .woocommerce-Reviews .comment-text {
    padding-left: 0;
    margin-bottom: 0;
  }
  .woocommerce-Reviews .star-rating {
    position: relative;
    display: block;
    margin-bottom: 14px;
  }
  .woocommerce-Reviews .form-submit {
    text-align: center;
  }
  .woocommerce-Reviews .commentlist li.comment:not(:last-child) {
    margin-bottom: 52px;
  }
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .edgtf-woocommerce-page table td {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page td.product-thumbnail img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-woocommerce-page td.actions .edgtf-cart-proceed-update .checkout-button {
    float: left;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-woocommerce-page td.actions .coupon input[type=text] {
    display: block;
    margin-bottom: 12px;
    margin-left: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-page td.actions .edgtf-cart-proceed-update {
    float: none;
    width: 100%;
    text-align: right;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-woocommerce-page td.actions .coupon {
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page .coupon input[type="text"] {
    width: 150px;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-woocommerce-page .edgtf-content-left-from-sidebar td.actions .edgtf-cart-proceed-update,
  .edgtf-woocommerce-page .edgtf-content-right-from-sidebar td.actions .edgtf-cart-proceed-update {
    float: none;
    width: 100%;
    text-align: right;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-woocommerce-page .edgtf-content-left-from-sidebar td.actions .coupon,
  .edgtf-woocommerce-page .edgtf-content-right-from-sidebar td.actions .coupon {
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce shipping calculator - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .edgtf-woocommerce-page .edgtf-shipping-calculator {
    width: 100%;
    margin-bottom: 25px;
  }
}

/* Woocommerce shipping calculator - end
========================================================================== */
/* Woocommerce totals - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .edgtf-woocommerce-page .edgtf-cart-totals {
    width: 100%;
  }
}

/* Woocommerce totals - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .edgtf-woocommerce-page .woocommerce-checkout .col-1,
  .edgtf-woocommerce-page .woocommerce-checkout .col-2 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-account .woocommerce-MyAccount-content,
  .woocommerce-account .woocommerce-MyAccount-navigation {
    float: none;
    width: 100%;
  }
  .woocommerce-account .woocommerce-MyAccount-content {
    margin-top: 40px;
  }
}

/* Woocommerce checkout - end
========================================================================== */
/* Woocommerce dropdown cart - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .edgtf-shopping-cart-outer:hover .edgtf-shopping-cart-dropdown {
    display: none;
    visibility: hidden;
  }
  .edgtf-top-bar .edgtf-shopping-cart-outer {
    float: none;
  }
}

@media only screen and (max-width: 320px) {
  .edgtf-shopping-cart-outer {
    display: none;
  }
}

/*===========================================================
#Cart & Checkout page
=============================================================*/
@media only screen and (max-width: 320px) {
  .woocommerce-cart .shop_table td {
    padding: 3px 0;
  }
}

@media only screen and (max-width: 1200px) {
  .woocommerce-cart .shop_table th h4 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce-cart .shop_table th h4 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-cart .shop_table th h4 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce-cart .shop_table th h4 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-cart .product-thumbnail,
  .woocommerce-cart .cart_item .product-thumbnail {
    padding: 0;
    width: 0;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-cart .edgtf-quantity-buttons .edgtf-quantity-input {
    width: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce-cart .amount {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce-cart .product-remove {
    padding: 5px 3px;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce-cart .remove {
    font-size: 17px;
  }
}

/* Woocommerce dropdown cart - begin
========================================================================== */
@media only screen and (max-width: 1200px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .woocommerce-pagination .edgtf-woocommerce-pagination-inner {
    width: 95%;
  }
}

/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */

/*# sourceMappingURL=woocommerce-responsive.css.map */